type: "SSD_MOBILE";
name: "ssd_mobile";
num_classes: 3;
npy_path: "../npy/ssd_mobile.npy";


train {
    log_dir: "../log/ssd_mobile";
    ckpt_dir: "../ckpt/ssd_mobile";
    batch_size: 8;
    num_epochs: 500;
    image {
        height: 300;
        width: 300;
        path: "../ssd/*.tfrecords";
    }
}

eval {
    log_dir: "../log/ssd_mobile";
    ckpt_dir: "../ckpt/ssd_mobile";
    batch_size: 1;
    num_epochs: 1;
    image {
        height: 300;
        width: 300;
        path: "../ssd/*.tfrecords";
    }
}

anchor_list {
    min_scale: 0.2;
    max_scale: 0.9;
    anchor: {
        src: "Pointwise_Conv2d_11";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
    }
    anchor: {
        src: "Pointwise_Conv2d_13";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv4";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv6";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv8";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
}