type: "SSD_ALEX";
name: "ssd_alex";
num_classes: 3;
npy_path: "../npy/alexnet.npy";


train {
    log_dir: "../log/ssd";
    ckpt_dir: "../ckpt/ssd";
    batch_size: 4;
    num_epochs: 500;
    image {
        height: 300;
        width: 300;
        path: "../ssd/*.tfrecords";
    }
}

eval {
    log_dir: "../log/ssd";
    ckpt_dir: "../ckpt/ssd";
    batch_size: 1;
}

anchor_list {
    min_scale: 0.2;
    max_scale: 0.9;
    anchor: {
        src: "conv2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
    }
    anchor: {
        src: "fc7";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv8_2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv9_2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
        aspect_ratio: 0.333;
        aspect_ratio: 3;
    }
    anchor: {
        src: "conv10_2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
    }
    anchor: {
        src: "conv11_2";
        aspect_ratio: 1;
        aspect_ratio: 0.5;
        aspect_ratio: 2;
    }
}